<div class="w-screen h-screen bg-gradient-to-r from-green-400 to-blue-400">
    <div class="h-full overflow-auto">
        <div class="bg-[#282938] w-screen h-1/6 text-white flex justify-between p-6">
            <p class="text-2xl font-bold">[EDUFREE]</p>
            <div class="text-sm pr-20">
                <a class="px-6" href="" routerLink="['/']">HOME</a>
                <a class="px-6" href="" routerLink="['about']">ABOUT US</a>
                <a class="px-6"  href="" routerLink="['courses']">COURSES</a>
                <a class="px-6" href="" routerLink="['faq']">FAQ</a>
                <a class="px-6" href="" routerLink="['blog']">BLOG</a>
                <button>Login</button>
            </div>
        </div>
    </div>
</div>